<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-row style="display:flex;justify-content:center;">
    <ion-button [routerLink]="['/accordion']">Accordion</ion-button>
  </ion-row>
  <ion-row style="display:flex;justify-content:center;">
    <ion-button [routerLink]="['/ion-alert']">alert page</ion-button>
  </ion-row>

  <ion-row style="display:flex;justify-content:center;">
    <ion-button [routerLink]="['/ion-range']">Ion Range Page</ion-button>
  </ion-row>

  <ion-row style="display:flex;justify-content:center;">
    <ion-button [routerLink]="['/ion-badge']">Ion Badge Page</ion-button>
  </ion-row>

  <ion-row style="display:flex;justify-content:center;">
    <ion-button [routerLink]="['/ion-search']">Open Search model</ion-button>
  </ion-row>
</ion-content>
