<ion-header>
  <ion-toolbar>
    <ion-title>ion-alert</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Notes
  ion-alert have header , subheader and message attribute
  each button have properties of text and handler , if handler return fasle then alert message is disappers

-->

<ion-button (click)="openForm()">Open Form</ion-button>

<ion-row style="display:flex; justify-content:center">
  <ion-button (click)="openMovieReviewForm()">Movie Review</ion-button>
</ion-row>

</ion-content>
