<ion-header>
  <ion-toolbar>
    <ion-title>infinite-scroll</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
    info

    ionInfinite event call when user go to specific distance then we get new data by scroll,
    complete() call when all data finish in array

    ion-infinite-scroll tag have all login of infinite scroll,
    ion-infinite-scroll-content have all data that we want to display

    note -
    import inifinite scroll in ts


  -->

  <ion-button (click)="toggleInfiniteScroll()" expand="block">
    Toggle Infinite Scroll
  </ion-button>
  
  <!--
    loop arary is new array get from filter array
    when we use this first we want to add if condition where data is present or not 
    then use this inifinite scroll
  -->
  <ion-item *ngFor="let da of dataArray">
    <ion-list>{{da.namev}}</ion-list>
  </ion-item>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..." >
     
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
